<%- include('./includes/header') %>
	<style>
		/* .head {
			border-radius: 50%;
		} */
	</style>
</head>
<body>
	<%- include('./includes/navbar') %>
	<h1><%= pageTitle %></h1>
	<!--因為使用了static 因此路徑不用選擇public 將結果res回傳到app.js-->
	<img class="head" src="images/cute.png" alt="">
	<br>
	<br>
	<% if(products.length > 0) { %>
		<% products.forEach(function(product){ %>
			<img src="<%= product.imageUrl %>" alt="<%= product.title %>">
			<h3><%= product.title %></h3>
		<% }) %>
	<% } else { %>
		<h1>尚無商品</h1>
	<% } %>
</body>
</html>